.BlogContainer{
  font-family: var(--font);
  
 h1{
  font-size: 30px;
  font-weight: bolder;
  color:black;
  line-height: 2rem;
  @media only screen and (min-width: 320px) and (max-width: 768px){
   font-size: 24px;
  line-height: 2rem;
} 
}

h2{
 margin-top: 10px;
  font-size: 21px;
  font-weight: normal;
  padding-top:5px;
  color: var(--orange);
  @media only screen and (min-width: 320px) and (max-width: 768px){
   font-size: 19px;
  line-height: 2rem;
} 
}

.casestudiesBox{
  width: 22rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
    @media only screen and (max-width: 320px){
width: 17rem;
  margin: auto;
//align-items: center;
//justify-content: center;
}
    @media only screen and (min-width: 360px) and (max-width: 768px){
width: 19rem;
  margin: auto;
//align-items: center;
//justify-content: center;
}
}


.BlogCard{
  width: 22rem;
//height: 35rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
    @media only screen and (max-width: 320px){
width: 17rem;
margin: auto;
}
    @media only screen and (min-width: 360px) and (max-width: 768px){
width: 19rem;
  margin: auto;
//align-items: center;
//justify-content: center;
}

img{
 background-size: cover;
background-position: cover cover;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
 .content{
  background: black;
  padding: 16px;
//height: 430px;
  color: white;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
} 

h3{
  padding-top: 10px;
  font-size: 19px;
  font-weight: bold;
  padding-top: 5px;
  line-height: 1.5rem;
}
 p{
  line-height: 30px;
  padding-top: 5px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.overlay_btn5{
  border:2px solid #808888;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 15px;
  font-weight: bold;
  text-decoration: none;
  .overlay_btn5:hover{
 background: black;
  background: transparent;
  color: black;
}
}
}

.link{
  color: var(--orange);
  margin-top: 15px;
  font-weight: bold;
  text-decoration: none;
  &:hover{
  color: var(--green);
}
}

}