.Container{
   padding: 100px 0px;
font-family: var(--font);
   @media only screen and (min-width: 320px) and (max-width: 768px){
  padding: 80px 0px;
} 


   .bg_overlay{
     background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)), url("https://w7.pngwing.com/pngs/600/192/png-transparent-camera-webcam-cctv-thumbnail.png");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     padding: 80px 64px;
     object-fit: cover;
   }
   
    .bg_overlay h2{
      color: white;
      font-size: 17px;
      font-weight: normal;
      font-family: 'Noto Sans';
      opacity: 0.7;
    }
    
    .bg_overlay h1{
      color: white;
      font-size: 35px;
      font-family: 'Noto Sans';
      font-weight: bolder;
    }
    
    .bg_overlay p{
      color: white;
      font-size: 15px;
      opacity: 0.9;
      font-family: 'Noto Sans';
    }
    
    .overlay_btn{
      border:none;
      background: #f88000;
      padding: 10px 15px;
      border-radius: 2px;
      color: white;
      font-weight: bold;
      transition: 0.5s;
      margin-bottom: 10px;
      text-decoration: none;
    }
    
   .overlay_btn:hover{
      background: #68b038;
      transform: translateX(3px);
    }
    
      .overlay_btn1:hover{
      background: #68b038;
      transform: translateX(3px);
      color: white;
    }
    
      .overlay_btn1{
      border:none;
      background: white;
      padding: 10px 15px;
      border-radius: 2px;
      color: black;
      font-weight: bold;
      transition: 0.5s;
      text-decoration: none;
    }
    
    .bg_overlay .hidden{
      background: white;
      width: 200px;
      height: 200px;
      padding: 10px 15px;
      box-shadow: 6px 7px 10px rgba(0,0,0,0.5);
      margin-top: 10px;
      margin-left: 150px;
    }
    
    .hidden img{
      width: 100px;
      margin: 0 auto;
      border: 2px solid #808888;
      display: flex;
    } 
    
    .hidden h1{
      color: black;
      font-size: 18px;
      text-align: center;
      font-family: 'Noto Sans';
    }
    
    .hidden p{
      font-size: 10px;
      color: black;
      line-height: 15px;
      text-align: center;
      padding:10px;
      font-family: 'Noto Sans';
    }
    
    .hidden2{
      margin-top: 10px;
      margin-left: 150px;
    }
    
    .hidden2 span{
      color: white;
      font-size: 12px;
    }
   

}





    



