
.Container{
padding: 32px 64px;
  margin-top: 2rem;
   font-family: var(--font);
     @media only screen and (min-width: 320px) and (max-width: 768px){
  padding: 16px 32px;
}

.title{
   margin-top: 10px;
   font-size: 27px;
   font-weight: bold;
   padding-top:5px;
   line-height: 2rem;
    @media only screen and (min-width: 320px) and (max-width: 768px){
   font-size: 20px;
  line-height: 2rem;
} 
}

.subTitle{
   font-size: 23px;
   font-weight: normal;
   padding-top:5px;
   color: var(--orange);
   @media only screen and (min-width: 320px) and (max-width: 768px){
   font-size: 17px;
  line-height: 1.5rem;
} 
}

.subtext{
   line-height: 2rem;
   font-size: 18px;
   font-weight: 400;
    @media only screen and (min-width: 320px) and (max-width: 768px){
   font-size: 16px;
  line-height: 2.3rem;
} 
}

.groupBtn{
      display: flex;
      flex-direction: row;
      gap: 1rem;
               @media only screen and (min-width: 320px) and (max-width: 600px){
           flex-direction: column;
           margin-bottom: 2rem;
    }
    }

 .overlay_btn{
      border:none;
      background: #f88000;
      padding: 10px 15px;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      transition: 0.5s;
      height: 3rem;
      text-decoration: none;
      width: 190px;
    }
    
   .overlay_btn:hover{
      background: #68b038;
      transform: translateX(3px);
    }
    
      .overlay_btn2:hover{
      background: #68b038;
      transform: translateX(3px);
      color: white;
    }
    
      .overlay_btn2{
      border:none;
      background: black;
      padding: 10px 15px;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      transition: 0.5s;
      text-decoration: none;
      width: 180px;
    }
   

.container6 strong{
   padding-top: 20px;
   font-weight: normal;
   font-size: 16px;
   font-family: 'Noto Sans';
}

.roller1{
 margin-top: 3rem; 
   max-width: 1200px;
 display: grid; 
 grid-gap: 1rem; 
 /* Screen larger than 600px? 2 column */ @media (min-width: 600px) {  
   grid-template-columns: repeat(2, 1fr);
   } 
   /* Screen larger than 600px? 2 column */ @media (min-width: 900px) {  
   grid-template-columns: repeat(3, 1fr);
   } 
   
   /* Screen larger than 900px? 4 columns */ @media (min-width: 1200px) {
     grid-template-columns: repeat(4, 1fr);
}
}

.roller1 .col{
   transition: 0.5s;
   height: 370px;
   padding: 30px 20px;
   background: white;
   border: 2px solid #c0c0c0;
   border-radius: 10px;
   width: 16rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.roller1 .col:hover{
   background: #68b038;
   transform: translateY(-15px);
   color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.roller1 .col h1{
   font-size: 20px;
   font-weight: bold;
   line-height: 2rem;
   margin-top: 2rem;
}

.roller1 .col p{
   font-size: 16px;
   font-weight: normal;
   line-height: 1.8rem;
}

.roller1 .col img{
   width: 50px;
   height: 50px;
   object-fit: cover;
}

 .info{
   margin-top: 1.5rem;
}

 .peopleicon{
   color: black;
   font-size: 30px;
   border: 1px solid #808888;
   border-radius: 50%;
   padding: 3px;
}

 .info p{
   font-size: 17px;
  color: #181818;
  line-height: 2rem;
  .link{
   border-bottom: 2px solid var(--orange); 
   text-decoration: none;
   color: black;
}
}

.quote{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2rem;
}

.roller_btn{
  color: var(--orange);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.5s;
  &:hover{
    color: var(--green);
    transform: translateX(5px);
  }
}
}