
.Container{
   background: #181818;
  padding: 80px 64px;
  margin-top: 1rem;
   font-family: var(--font);
     @media only screen and (min-width: 320px) and (max-width: 768px){
  padding: 64px 32px;
}

.Title{
   font-size: 27px;
   font-weight: bolder;
   color: white;
   text-align: center;
  line-height: 2rem;
  margin-bottom: 2rem;
   @media only screen and (min-width: 320px) and (max-width: 768px){
   font-size: 20px;
  line-height: 2rem;
} 
}

.subTitle{
   font-size: 23px;
   font-weight: normal;
   color: var(--orange);
   text-align: center;
    @media only screen and (min-width: 320px) and (max-width: 768px){
   font-size: 20px;
  line-height: 1.5rem;
  margin-bottom: 1rem;
} 
}

.subtitle{
   margin-top: 16px;
   font-size: 21px;
   color: var(--orange);
   font-weight: 400;
   line-height: 1.5rem;
    @media only screen and (min-width: 320px) and (max-width: 768px){
    line-height: 1.8rem;
    font-size: 19px;
} 
}

.smalltitle{
   margin-top: 10px;
   font-size: 19px;
   font-weight: normal;
   color: white;
   line-height: 1.9rem;
   @media only screen and (min-width: 320px) and (max-width: 768px){
    line-height: 1.9rem;
    font-size: 16px;
} 
}

.subtext{
   line-height: 30px;
   font-size: 17px;
   font-weight: 400;
   color: #ccc;
}

.ul{
   list-style: none;
   margin-bottom: 2rem;
}

.ul li{
   font-size: 17px;
   color: white;
margin-top: 0.5rem;
line-height: 1.8rem;
}

.icontool{
   color: var(--orange);
   font-size: 19px;
}

 .overlay_btn{
      border: none;
      background: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      color: #181818;
      font-weight: bold;
      transition: 0.5s;
      height: 3rem;
      text-decoration: none;
      width: 230px;
    }
    
   .overlay_btn:hover{
      background: #68b038;
      transform: translateX(3px);
    }
    
 .bg_2{
   background-image: url("https://res.cloudinary.com/dlst0ec4h/image/upload/v1676478401/close-up-fingerprint-reader_edwvqm.webp");
   background-size: cover;
   background-position: cover cover;
   padding: 40px 20px;
   @media only screen and (min-width: 320px) and (max-width: 768px){
   margin-top: 2rem;
} 
}

 .bg_2 .small{
   width: 230px;
   height: 270px;
   background: white;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   padding: 10px 15px;
   box-shadow: 6px 8px 10px rgba(0,0,0,0.5);
  border: none;
  border-radius: 10px;
}

.small h1{
   font-size: 17px;
   color: black;
   margin-top: 2rem;
}

.small p{
   color: black;
   font-size: 15px;
   line-height: 25px;
   font-weight: normal;
   margin-bottom: 0.5rem;
}

.small ul{
  list-style: none;
}

.small li{
   color: black;
   font-size: 13px;
  margin-top: 0.5rem;
}

.bg_3{
   background-image: url("https://res.cloudinary.com/dlst0ec4h/image/upload/v1676837159/ezgif.com-gif-maker_p25kmd.webp");
   background-size: cover;
   background-position: cover cover;
   padding: 40px 20px;
   @media only screen and (min-width: 320px) and (max-width: 768px){
   margin-top: 2rem;
} 
}

.bg_3 .small_1{
   width: 230px;
   height: 270px;
   background: #68b038;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   padding: 10px 15px;
   box-shadow: 6px 8px 10px rgba(0,0,0,0.5);
   border: none;
   border-radius: 10px;
}

.small_1 h1{
   font-size: 17px;
   color: #fff;
   margin-top: 2rem;
}

.small_1 p{
   color: white;
   font-size: 15px;
   line-height: 25px;
   font-weight: normal;
   margin-bottom: 0.5rem;
}

.small_1 ul{
  list-style: none;
}

.small_1 li{
   color: white;
   font-size: 13px;
  margin-top: 0.5rem;
}

.icontools{
   color: #fff;
   font-size: 19px;
}

.Title1{
   font-size: 27px;
   font-weight: bolder;
   color: white;
  line-height: 2rem;
  margin-bottom: 2rem;
   @media only screen and (min-width: 320px) and (max-width: 768px){
   font-size: 20px;
  line-height: 2rem;
} 
}

.smalltext{
   margin-top: 10px;
   font-size: 16px;
   font-weight: normal;
   color:white;
   line-height: 30px;
}

.smallstar{
   color: var(--orange);
}

.quotetitle{
   font-weight: normal;
   font-size: 16px;
   color: white;
}

.groupBtn{
margin-top: 1rem; 
   max-width: 1200px;
 display: grid; 
 grid-gap: 1rem; 
 /* Screen larger than 600px? 2 column */ @media (min-width: 480px) {  
   grid-template-columns: repeat(2, 1fr);
   } 
   /* Screen larger than 900px? 4 columns */ @media (min-width: 1200px) {
     grid-template-columns: repeat(3, 1fr);
}
    }
    
    
 .small_btn{
   background: white;
   color: black;
   padding: 10px 15px;
   border: none;
   border-radius: 25px;
   font-weight: bold;
   font-size: 15px;
   width: 180px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
    margin: auto;
    text-decoration: none;
}

.small_btn:hover{
   background: #68b038;
   color: white;
}

.rowEnd{
margin-top: 2rem;
  margin-bottom: -9rem;
}
 .img{
   border-radius: 7px;
   width: 80%;
   height: 80%;
   object-fit: cover;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   float: right;
        @media only screen and (min-width: 320px) and (max-width: 768px){
  width: 100%;
 align-items: center;
   justify-content: center;
   float: none;
   margin: 0 auto;
   margin-top: 1rem;
}
}

.bottomText{
  margin-top: 2rem;
  font-size: 17px;
  color: white;
  line-height: 2rem;
}

.link{
  text-decoration: none;
  color: white;
  border-bottom: 2px solid var(--orange);
}
}
