
.Container{
  padding: 80px 64px;
  margin-top: 1rem;
   font-family: var(--font);
     @media only screen and (min-width: 320px) and (max-width: 768px){
  padding: 64px 32px;
}

.Title{
   font-size: 27px;
   font-weight: bolder;
   color: black;
   line-height: 1.5rem;
      @media only screen and (min-width: 320px) and (max-width: 768px){
   font-size: 20px;
  line-height: 2rem;
} 
}

.subtext{
   line-height: 30px;
   font-size: 17px;
   font-weight: 400;
   color: black;
}

.casestudiesContainer{
margin-top: 3rem; 
   max-width: 1200px;
 display: grid; 
 grid-gap: 1rem; 
 /* Screen larger than 600px? 2 column */ @media (min-width: 768px) {  
   grid-template-columns: repeat(2, 1fr);
   } 
   /* Screen larger than 900px? 4 columns */ @media (min-width: 1200px) {
     grid-template-columns: repeat(3, 1fr);
}
    }

.casestudiesBox{
  width: 22rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
    @media only screen and (max-width: 320px){
width: 17rem;
  margin: auto;
//align-items: center;
//justify-content: center;
}
    @media only screen and (min-width: 360px) and (max-width: 768px){
width: 19rem;
  margin: auto;
//align-items: center;
//justify-content: center;
}
}

.bg_1{
   background-image: url("https://res.cloudinary.com/dlst0ec4h/image/upload/v1676908535/man-is-reaching-his-hand-push-fire-alarm-hand-station_idvmko.webp");
   background-size: cover;
   background-position: cover cover;
   padding: 10px 20px;
   margin-top: 10px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.bg_1_button{
   margin-top: 150px;
   padding: 10px 15px;
   background:#68b038;
   border: none;
   color: white;
   transition: all 0.5s;
   border-radius: 5px;
   font-weight: bold;
   &:hover{
     background: #fff;
     color: black;
     transform: translateX(10px);
border: none;
   }
}

.small{
   padding: 10px;
   background: #e8e8e8;
   padding-bottom: 20px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.small h2{
   margin-top: 10px;
   font-size: 22px;
   font-weight: bold;
   font-family:'Noto Sans';
   padding-top:5px;
   color: black;
   text-align: center;
}

.overlay_btn{
      border: none;
      background: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      color: #181818;
      font-weight: bold;
      transition: 0.5s;
      height: 3rem;
      text-decoration: none;
      width: 230px;
    }
    
   .overlay_btn:hover{
      background: #68b038;
      transform: translateX(3px);
      color: white;
    }
 
.bg_2{
   background-image: url("https://res.cloudinary.com/dlst0ec4h/image/upload/v1676478401/close-up-fingerprint-reader_edwvqm.webp");
   background-size: cover;
   background-position: cover cover;
   padding: 10px 20px;
   margin-top: 10px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.bg_3{
   background-image: url("https://res.cloudinary.com/dlst0ec4h/image/upload/v1676837161/cctv-security-technology-with-lock-icon-digital-remix_m6lzag.webp");
   background-size: cover;
   background-position: cover cover;
   padding: 10px 20px;
   margin-top: 10px;
  border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

 .bg_4{
   background-image: url("https://res.cloudinary.com/dlst0ec4h/image/upload/v1676912596/close-up-woman-checking-security-camera_ok8dkl.webp");
   background-size: cover;
   background-position: cover cover;
   padding: 10px 20px;
   margin-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

 .bg_5{
   background-image: url("https://res.cloudinary.com/dlst0ec4h/image/upload/v1676821693/IMG-20230216-WA0017_gjx1ot.webp");
   background-size: cover;
   background-position: cover cover;
   padding: 10px 20px;
   margin-top: 10px;
}

.mediumtext{
  font-size: 18px;
  line-height: 1.7rem;
  width: 800px;
  margin: 0px;
   @media only screen and (min-width: 320px) and (max-width: 768px){
width: 100%;
}
}

.rollerBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
}

/*scrolling-section*/
.companyLogo{
 width: 15%;
  object-fit: cover;
@media only screen and (min-width: 320px) and (max-width: 768px){
width: 40%;
}
}

.scrolling_col_cplus{
   display: inline;
   margin-right: 10px;
img{
  display: inline;
}
}

.scrolling_col_hikivision{
   display: inline;
   margin-right: 10px;
img{
  display: inline;
}
}

.scrolling_col_dahua{
   display: inline;
   margin-right: 10px;
   img{
  display: inline;
}
}

.scrolling_col_anviz{
   display: inline;
   margin-right: 10px;
      img{
  display: inline;
}
}

.scrolling_col_zkteco{
   display: inline;
   margin-right: 10px;
      img{
  display: inline;
}
}

.scrolling_col_honeywell{
   display: inline;
   margin-right: 10px;
      img{
  display: inline;
}
}

.scrolling_col_microsoft{
   display: inline;
   margin-right: 10px;
      img{
  display: inline;
}
}

.scrolling_col_tuya{
   display: inline;
   margin-right: 10px;
      img{
  display: inline;
}
}

.scrolling_col_panasonic{
   display: inline;
   margin-right: 10px;
      img{
  display: inline;
}
}

.scrolling_col_ubiquiti{
   display: inline;
   margin-right: 10px;
      img{
  display: inline;
}
}

.scrolling_col_tplink{
   display: inline;
   margin-right: 10px;
      img{
  display: inline;
}
}

.scrolling_col_dlink{
   display: inline;
   margin-right: 10px;
      img{
  display: inline;
}
}

.scrolling_col_cisco{
   display: inline;
   margin-right: 10px;
      img{
  display: inline;
}
}


#col{
  padding: 0;
  margin: 0 30px;
  transform: translateX(100%);
  animation-name:scrolling;
  animation-duration:20s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: relative;
}


@keyframes scrolling{
  100%{
    transform: translateX(-40%);
  }
}

}