
.navbar{
 padding: 16px 64px;
  bottom: 0;
  position: fixed;
  z-index: 999;  
  width: 100vw;
  top: 0px;
  height: 120px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
   @media only screen and (min-width: 320px) and (max-width: 768px){
  padding: 10px 15px;
  height: 120px;
} 

 .navbar-toggler{
  @media only screen and (min-width: 320px) and (max-width: 768px){
    margin-top: -20px;
    cursor: pointer;
  font-size: 1.1rem;
    padding: .5rem .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 5px;
    background: transparent;
    box-shadow: inset 3px 3px 3px var(--neu-dark),
                inset -3px -3px 3px var(--neu-light);
  width: 3rem;
  transition: all .5s ease;
  color: #303030;
}

    @media only screen and (min-width: 768px) and (max-width: 1200px){
      margin-top: -10px;
        cursor: pointer;
  font-size: 1.2rem;
    padding: .5rem .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    background: transparent;
    box-shadow: inset 3px 3px 3px var(--neu-dark),
                inset -3px -3px 3px var(--neu-light);
  width: 3rem;
  transition: all .5s ease;
  color: #303030;
  }
  &:hover{
      transform: rotate(45deg);
  }
}

  .quotebtn{
border: var(--border);
 border-radius: 5px;
font-family: var(--font);
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.1px;
color: var(--green);
padding: 10px 16px;
background: transparent;
width: 8.5rem;
text-decoration: none;
  }
  
  .quotebtn:hover{
  border: 2px solid var(--purple);
  cursor: pointer;
  color: white;
  background: var(--green);
}  

.sticky-nav {
position: fixed;
  top: 0;
  left: 0;
 padding: 30px 16px;
     background: rgba(33,37,41, 0.8);
box-shadow: 5px 5px 15px -5px rgba(80,200,120, 0.5 );
}
}

 .navbar-brand{
   width: 120px;
   height: 120px;
   object-fit: cover;
}

.nav-link{
  margin: 0px;
}

#navbarScrollingDropdown{
  font-size: 18px;
  &:hover{
   color: var(--green);
  }
  &:active{
    color: #303030;
  }
}

.service-box{
  display: flex;
  padding: 10px 15px;
  align-items: center;
  justify-content: space-between;
 @media only screen and (min-width: 320px) and (max-width: 480px){
   flex-direction: column;
align-items: flex-start;
 }
 .services_title {
   font-size: 19px;
   font-weight: bold;
 }
}

 .phone{
   width: 50px;
   height: 50px;
   background: #68b038;
   display: grid;
   place-items: center;
   border: 1px solid #68b038;
   margin-left: 12px;
   border-radius: 50%;
   position: relative;
   top: 0;
   left: 0;
}

 .phone::before{
   content: "";
   position: absolute;
   height: calc(100% + 20px);
   width: calc(100% + 20px);
   border: 2px solid #68b038;
   border-radius: 50%;
   animation: pulse 1.5s linear infinite;
}

 .phone::after{
   content: "";
   position: absolute;
   height: calc(100% + 20px);
   width: calc(100% + 20px);
   border: 2px solid #68b038;
   border-radius: 50%;
   animation: pulse 1.5s linear infinite;
   animation-delay: 0.5s;
}

@keyframes pulse{
  0%{
    transform: scale(0.5);
    opacity: 0;
  }
  
  50%{
    transform: scale(1.0);
    opacity: 1;
  }
  
  100%{
    transform: scale(0.8);
    opacity: 0;
  }
 
}

.bi-telephone{
   font-size: 18px;
   color: white;
   font-weight: bolder;
   animation: pulser 0.5s linear infinite;
}

@keyframes pulser{
  0%{
    transform: scale(0.2);
  }
  
  50%{
    transform: scale(2);
  }
  
 100%{
   transform: scale(0.8);
 }
}

#icons{
  font-size: 15.5px;
  &:hover{
    color: var(--green);
  }
}






