.Container{
   margin-top: 3rem;
   font-family: var(--font);
   
   .bg_overlay{
     background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)), url("https://res.cloudinary.com/dlst0ec4h/image/upload/v1676458728/jon-tyson-kR4K8nJ9JRc-unsplash_mdiknb.webp");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     padding: 64px;
     object-fit: cover;
 @media only screen and (min-width: 320px) and (max-width: 768px){
  padding: 64px 32px;
} 
   }
   
    .bg_overlay h1{
      color: white;
      font-size: 35px;
      font-weight: bolder;
      line-height: 2rem;
       @media only screen and (min-width: 320px) and (max-width: 768px){
font-size: 25px;
} 
    }
    
    .bg_overlay p{
      color: white;
      font-size: 18px;
      line-height: 2.3rem;
       @media only screen and (min-width: 320px) and (max-width: 768px){
      font-size: 16px;
      line-height: 2rem;
} 
    }
    
    .groupBtn{
      display: flex;
      flex-direction: row;
      gap: 1rem;
               @media only screen and (min-width: 320px) and (max-width: 600px){
           flex-direction: column;
           margin-bottom: 2rem;
    }
    }
    .overlay_btn{
      border:none;
      background: #f88000;
      padding: 10px 15px;
      border-radius: 2px;
      color: white;
      font-weight: bold;
      transition: 0.5s;
      height: 3rem;
      text-decoration: none;
    }
    
   .overlay_btn:hover{
      background: #68b038;
      transform: translateX(3px);
    }
    
      .overlay_btn1:hover{
      background: #68b038;
      transform: translateX(3px);
      color: white;
    }
    
      .overlay_btn1{
      border:none;
      background: white;
      padding: 10px 15px;
      border-radius: 2px;
      color: black;
      font-weight: bold;
      transition: 0.5s;
      text-decoration: none;
      height: 3rem;
    }
    
    .bg_overlay .hidden{
      background: white;
      width: 200px;
      height: 200px;
      padding: 10px 15px;
      box-shadow: 6px 7px 10px rgba(0,0,0,0.5);
      margin-top: 10px;
      margin-left: auto;
         @media only screen and (min-width: 320px) and (max-width: 768px){
           margin: auto;
    }
    }
    
    .hidden img{
      width: 100px;
      margin: 0 auto;
      border: 1px solid #808888;
      display: flex;
      border-radius: 1rem;
      object-fit: cover;
    } 
    
    .hidden h1{
      color: black;
      font-size: 18px;
      text-align: center;
      font-family: 'Noto Sans';
    }
    
    .hidden p{
      font-size: 10px;
      color: black;
      line-height: 15px;
      text-align: center;
      padding:10px;
      font-family: 'Noto Sans';
    }
    
    .hidden2{
      margin-top: 10px;
      display: flex;
    align-items: flex-end;
     float: right;
     flex-direction: row;
     justify-content: center;
     gap: 0.5rem;
  @media only screen and (min-width: 320px) and (max-width: 768px){
      align-items: center;
      float: none;
      justify-content: center;
    }
    }
    
    .hidden2 span{
      color: white;
      font-size: 12px;
    }
   
.bottomCard{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: left;
  h5{
  color: #fff;
  font-size: 20px;
  line-height: 2rem;
font-family: var(--font);
@media only screen and (min-width: 320px) and (max-width: 768px){
   line-height: 1.5rem;
  font-size: 16px;
    }
}

h3{
  color: #fff;
  font-size: 30px;
  line-height: 2rem;
font-family: var(--font);
@media only screen and (min-width: 320px) and (max-width: 768px){
       font-size: 20px;
    }
}
}

.smallbox{
  display: flex;
  align-items: flex-end;
  float: right;
  flex-direction: column;
  .iconbox{
    color: #fff;
    font-size: 2rem;
  }
  .iconbox:hover{
    color: var(--orange);
  }
}
}




    



