
.aboutTitle{
     font-size: 24px;
    line-height: 25px;
font-family: var(--font);
   font-weight: 600;
   font-style: normal;
   letter-spacing: 0.5px;
   color: var(--green);
   margin-bottom: 1rem;
@media only screen and (min-width: 320px) and (max-width: 768px){
    font-size: 20px;
    line-height: 1.5rem;
} 
   }  


.subtext{
font-family: var(--font);
font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 30px;
text-align: left;
color: #fff;
width: 450px;
@media only screen and (min-width: 320px) and (max-width: 480px){
width: 100%;
font-size: 16px;
} 
}

.img{
  width: 50px;
  height: 50%;
  object-fit: cover;
}

 .overlay_btn{
      border:none;
      background: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      color: black;
      font-weight: bold;
      transition: 0.5s;
      height: 3rem;
      text-decoration: none;
      width: 200px;
      text-align: center;
    }
    
   .overlay_btn:hover{
      background: #68b038;
      color: #fff;
      transform: translateX(3px);
    }
   
